In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
print (data)

   id    name  salary  start_date        dept
0   1    Rick  623.30  2012-01-01          IT
1   2     Dan  515.20  2013-09-23  Operations
2   3   Tusar  611.00  2014-11-15          IT
3   4    Ryan  729.00  2014-05-11          HR
4   5    Gary  843.25  2015-03-27     Finance
5   6   Rasmi  578.00  2013-05-21          IT
6   7  Pranab  632.80  2013-07-30  Operations
7   8    Guru  722.50  2014-06-17     Finance

In [2]:
# Slice the result for first 5 rows
print (data[0:5]['salary'])

0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64

In [3]:
# Use the multi-axes indexing funtion
print (data.loc[:,['salary','name']])

   salary    name
0  623.30    Rick
1  515.20     Dan
2  611.00   Tusar
3  729.00    Ryan
4  843.25    Gary
5  578.00   Rasmi
6  632.80  Pranab
7  722.50    Guru

In [4]:
# Use the multi-axes indexing funtion
print (data.loc[[1,3,5],['salary','name']])

   salary   name
1   515.2    Dan
3   729.0   Ryan
5   578.0  Rasmi

In [5]:
# Use the multi-axes indexing funtion
print (data.loc[2:6,['salary','name']])

   salary    name
2  611.00   Tusar
3  729.00    Ryan
4  843.25    Gary
5  578.00   Rasmi
6  632.80  Pranab

In [6]:
dataDict = pd.read_csv('data.csv').to_dict()
dataDict

{'dept': {0: 'IT',
  1: 'Operations',
  2: 'IT',
  3: 'HR',
  4: 'Finance',
  5: 'IT',
  6: 'Operations',
  7: 'Finance'},
 'id': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8},
 'name': {0: 'Rick',
  1: 'Dan',
  2: 'Tusar',
  3: 'Ryan',
  4: 'Gary',
  5: 'Rasmi',
  6: 'Pranab',
  7: 'Guru'},
 'salary': {0: 623.3,
  1: 515.2,
  2: 611.0,
  3: 729.0,
  4: 843.25,
  5: 578.0,
  6: 632.8,
  7: 722.5},
 'start_date': {0: '2012-01-01',
  1: '2013-09-23',
  2: '2014-11-15',
  3: '2014-05-11',
  4: '2015-03-27',
  5: '2013-05-21',
  6: '2013-07-30',
  7: '2014-06-17'}}

In [7]:
#https://pynative.com/convert-pandas-dataframe-to-dict/
data.loc[:,['salary','name']].to_csv("salaryList.csv")